body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f9f6f2;
    color: #333;
}
html {
    scroll-behavior: smooth;
}
#services{
    padding-top: 100px;
}
#projects{
    padding-top: 100px;
}
#blog{
    padding-top: 100px;
}
#about{
    padding-top: 100px;
}
#contact{
    padding-top: 130px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebe0;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img {
    height: 80px;
    margin-right: 10px;
}
nav {
    display: flex;
    gap: 30px;
    margin-left: -30%;
    position: sticky;
    top: 0;
}
nav a {
    text-decoration: none;
    color: #555;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}
nav a:hover {
    color: #C0C0C0;
}
.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons i{
    padding: 10px;
    background-color: #A0A0A0;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.social-icons i:hover{
    background-color: #C0C0C0;
}
.contact {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
    transition:0.3s ease, transform 0.3s ease;
}
.contact:hover{
    color: #C0C0C0;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.intro-text {
    max-width: 50%;
}
.intro-text h2 {
    font-size: 3em;
    margin: 0 0 15px;
    margin-top: -30px;
}
.intro-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.intro-text a {
    display: inline-block;
    text-decoration: none;
    background-color: #C0C0C0;
    color: #fff;
    padding: 15px 25px;
    font-size: 0.8m;
    border-radius: 30px;
    transition:0.3s ease, transform 0.3s ease;
}
.intro-text a:hover {
    background-color: #A0A0A0;
    color: #000;
}
.intro-image-slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Adjust for the number of slides */
}

.slides img {
    width: 100%;
    flex: 1 0 100%; /* Each image takes 100% of the container width */
}

.design-section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.design-section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.slider {
  position: relative;
  width: 45%;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 50px;
  margin-left: 15px;
}
    
.slides{
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
}

.content {
  width: 55%;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color:#555;
}

.content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 15px;
  color:#A0A0A0;
}

.about-btn {
    background-color: #C0C0C0;
    color: #fff;
    padding: 15px 25px;
    font-size: 0.8m;
    border-radius: 30px;
    border: none;
    transition:0.3s ease, transform 0.3s ease;
}
.about-btn:hover{
    background-color: #A0A0A0;
    color: #000;
}

/* service sec */
.services-section {
  max-width: 550px;
  margin: 20px auto;
  text-align: center;
}

.services-section h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.services-section p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  color:#A0A0A0 ;
}

.accordion {
  border-top: 1px solid #ccc;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f9f6f2;
  color: #555;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-align: left; 
  transition: background-color 0.3s, color 0.3s; 
  gap: 10px; 
}
.accordion-header.active {
  color: #C0C0C0; 
}

.accordion-header .arrow {
  transition: transform 0.3s;
}

.accordion-header.active .arrow {
  transform: rotate(180deg);
}

.accordion-content {
  width: 550px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-header .arrow {  
  transition: transform 0.3s ease-in-out;
}

.accordion-content p {
  padding: 15px;
  font-size: 19px;
  width: 500px;
  line-height: 1.4;
  text-align: left; 
  padding-top: 0;
  margin: 0 0 15px 0;
  transition: color 0.3s, background-color 0.3s; 
  color: #555;
}

.estimate-btn {
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 16px;
  background-color: #C0C0C0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-transform: uppercase;
  transition:0.3s ease, transform 0.3s ease;
}
.estimate-btn:hover{
    background-color: #A0A0A0;
    color: #000;
}

/* container*/
.wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    margin-top: 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.container h1{
    font-size: 40px; 
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.container p {
    font-size: 20px;
    font-weight: normal;
    color: #555;
    margin-bottom: 30px;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.step {
    flex: 1;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.step .icon {
    font-size: 24px;
    color: #A0A0A0;
    margin-bottom: 0px;
}

.step h2 {
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.step p {
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.5;
    margin-bottom: 20px;
}

.step img {
    width: 250px; /* Increase the width */
    height: 250px; /* Increase the height */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto; /* Keeps the image at the bottom */
}

.cta-button {
    display: inline-block;
    margin-top: 40px;
    padding: 20px 40px;
    font-size: 16px;
    color: #fff;
    background-color: #A0A0A0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.cta-button:hover {
    background-color: #C0C0C0;
    color: #000     ;
}

/* Responsive Design */
@media (max-width: 768px) {
    .steps {
        flex-wrap: wrap;
        gap: 30px;
    }

    .step {
        max-width: 100%;
    }
}

/* project */
.projects-container {
    text-align: center;
    padding: 40px;
}

.projects-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.projects-container p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    text-align: left;
}

.project-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: filter 0.3s ease; 
}
.project-card img:hover{
    filter: brightness(80%);
}

.project-card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-card-content a {
    color: #8c6239;
    text-decoration: underline;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.all-projects {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #8c6239;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;  
    transition: background-color 0.3s;
}

.all-projects:hover {
    background-color: #704f2e;
}

/* blog */
.blog-container {
    text-align: center;
    padding: 40px;
}

.blog-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.blog-container p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
}

.blog-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.blog-grid img:hover {
    filter: brightness(80%);
}

.blog-card {
    text-align: left;
    max-width: 300px;
}

.blog-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: filter 0.3s ease; 
}

.blog-card-content {
    padding: 10px 0;
}

.blog-card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.blog-card-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.blog-card-content a {
    color: #8c6239;
    text-decoration: underline;
    font-weight: bold;
}

/* contact container */
.contact-container {
    background-color: #555;
    color: #fff; 
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    width: 90%; 
    margin-left: 1.5%;
    margin-top: 80px;
}

.contact-container h1 {
    margin: 0 0 16px;
    font-size: 40px;
    font-weight: bold;
}

.contact-container p {
    margin: 0 0 24px;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    padding-left:25%;
    padding-right: 25%;
}

.contact-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9d3c6; /* Light beige button */
    color: #7b5a51; /* Brown text */
    text-decoration: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
}

.contact-container a:hover {
    background-color: #cfc6b5; /* Slightly darker beige */
}

/* contact container */
.main-wrapper {
    display: flex;
    justify-content: space-between; /* Side-by-side layout */
    align-items: flex-start; /* Align top edges */
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    gap: 30px; /* Add spacing between map and form */
}

/* Map Section */
.map-container {
    width: 60%; /* Map width */
    height: 500px; /* Map height */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}

/* Form Section */
.form-container {
    width: 35%; /* Form width */
    max-width: 450px;
    background-color: #fdf8f3;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border:none;        
    border-bottom:1px solid #50382f;
    background-color: #E9EAEC;
    color: #A0A0A0;
    flex: 1;
    transition: border-bottom-color 0.3s ease;
}
form input:focus,
form textarea:focus {
    border-bottom-color:#50382f;
    border:1px solid #A0A0A0;
    outline: none; /* Remove default browser outline */
    border-radius: 0;
}

form input:focus-visible,
form textarea:focus-visible {
    outline: none; /* Prevent additional focus outline */
}

form input::placeholder,
form textarea::placeholder {
    color: #9a918a;
}

form textarea {
    min-height: 120px;
    resize: none;
}

form button {
    background-color: #555;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px; /* Reduced button width */
}

form button:hover {
    background-color: #A0A0A0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column; /* Stack map and form vertically */
        gap: 20px;
    }

    .map-container,
    .form-container {
        width: 100%; /* Full width on small screens */
    }
}

/*FOR FAQ SEC*/
.faq-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 100px;
}

.faq-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.faq-icon{
    margin-right: 10px;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align text to the left */
    width: 100%;
    background-color: #f9f6f2;   
    color: #333;
    border: none;
    padding: 20px 20px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left; /* Ensure the text stays left-aligned */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.faq-question .faq-text {
    margin-left: 10px;
    flex-grow: 1; 
}
.faq-question.active {
    color: #A0A0A0;
}

.faq-question:hover {
    color: #A0A0A0;
}

.faq-icon {
    transition: transform 0.3s ease;
}

.faq-answer {
    display: none;
    font-size: 18px;
    padding: 10px;
    background-color: #f9f6f2;
    transition: max-height 0.3s ease;
}

/*infor sec*/
.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 50px 20px;
    background-color:#f9f6f2;
}

.info-item {
    text-align: center;
}

.info-item .icon {
    font-size: 30px;
    color: #555;
    margin-bottom: 15px;
}

.info-item h3 {
    margin:10px 0;
    font-size: 22px;
    font-weight: 600;  
    color: #A0A0A0;  
}

.info-item p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #C0C0C0;
}